
@{
    ViewBag.Title = "Index";
}

<h2 style="background:#f00">Index</h2>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
}

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-warning">
        @ViewBag.Mensagem
    </div>
}
